## SHARED CONFIG

NODE_ENV="development"
APP_NAME="Resort Booking App"
WEB_URL="http://localhost:3000"
API_URL="http://localhost:3100"


## BACKEND CONFIG

DATABASE_URL="postgresql://<username>:<password>@<host>:5432/<db-name>"

BETTER_AUTH_URL="${API_URL}"
BETTER_AUTH_SECRET=

TRUSTED_ORIGINS="${WEB_URL}"

MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_ENCRYPT=true
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"


## FRONTEND CONFIG

NEXT_PUBLIC_APP_NAME="${APP_NAME}"
NEXT_PUBLIC_APP_URL="${WEB_URL}"
NEXT_PUBLIC_API_URL="${API_URL}"
NEXT_PUBLIC_BETTER_AUTH_URL="${BETTER_AUTH_URL}"
